body {
	margin: 0;
}

.container {
	width: 960px;
	margin: auto;
}

#signup {
	background: #00695c;
	height: 100px;
}

#text {
	font-family: 'robot mono', monospace;
	font-size: 45px !important;
	padding-top: 10px;
}

.nav-wrapper {
	padding-top: 10px; 
}

#leftcolumn {
	
}

